body{
    margin: 0;
    padding: 0;
    background-color: lightgoldenrodyellow
}
.container{
    
    min-height: 100vh;
}
h1{
    text-align: center;
    margin: 0;
    padding: 10px;
}
.list-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    padding: 10px;
}
td{
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

td:hover{
    background-color: blue;
    color: whitesmoke;
}
d-none{
    display: none;
}

.website{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.detailcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}   
.card-container{
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    /* text-align: center; */
    font-size: 18px;
    width: 60%;
    display: flex;
    align-items:center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}
.card{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 60%;
    padding: 10px;
    
}
.card label{
    font-weight: bold;
    text-transform: capitalize;
    /* text-align: left; */
}
.card div{
    /* align-self: flex-start; */
    text-align: right;
    /* font-size: 16px; */
}
